header{

    text-align:center;
    background:#9966ff;
    width:100%;
    height:20%;
}

#disney{
    float:left;
    width:200px;
    height: auto;
}
#powerg{
    float: right;
    width:200px;
    height:auto;
}
#imagemp{
    width:300px;
    height: auto;
}

table{
    text-align:center;
    color:#9966ff;
    border: 2px solid #fea21f;
    width:200px;
    height:250px;
}
tr{
    border: 2px solid #fea21f;
}
td{
    border: 2px solid #fea21f;
}
footer{
    background:#9966ff;
    text-align:center;
    width:100%;
    height:20%;
}
button{
    text-align:center;
    width:30px;
    height:30px;
}

ul{
    list-style-type: circle;
}
*{
    margin: 0 auto;
}